
#titoloPaginaSelezioneAbbonamento{
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
}

#contenitoreAbbonamenti {
    -fx-border-width: 0;
}


.labelNome {
    -fx-font-size: 1.8em;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}
.labelDescrizione{
    -fx-font-family: Arial;
    -fx-font-size: 1.2em;
}

.labelPrezzo{
    -fx-font-size: 1.2em;
    -fx-font-family: "Arial";
}

.buttonAbbonati{
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10 30;
    -fx-pref-width: 200;
}


.contenitoreRiga{
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.anchorPaneContenitore{
    -fx-border-width: 0;
    -fx-effect: none;
}