.labelNome {
    -fx-font-size: 30px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}
.labelDescrizione{
    -fx-font-family: Arial;
    -fx-font-size: 15px;

}

.labelPrezzo{
    -fx-font-family: Arial;
    -fx-font-size: 25px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.buttonAbbonati{
    -fx-background-color: #FF0000;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.contenitoreRiga{
    -fx-border-color: black;
}
.anchorPaneContenitore{
    -fx-background-color: transparent;
    -fx-border-color: transparent,transparent,transparent;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none;
}

