.button{
    -fx-background-color: transparent;
    -fx-text-fill: #27374d;
    -fx-font-size: 14px;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}
.label_giorno{
    -fx-text-fill: #27374d;
    -fx-font-weight: bold;
}
.bottoniCambioMese{
    -fx-background-color: transparent;
    -fx-text-fill: #27374d;
    -fx-font-size: 1.4em;
    -fx-bold: true;
}
.AncorPane{
    -fx-background-color: orange;
    -fx-opacity: 0.7;
    -fx-pref-height: 200;
}

.button:hover{
    -fx-background-color: #27374d;
    -fx-text-fill: white;
}
.label_mese{
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
    -fx-text-fill: #27374d;
}
.barraNavigazione{
    -fx-padding: 0 0 10 0;
}
.giorno_prenotato{
    -fx-background-color: #27374d;
    -fx-font-weight: bold;
    -fx-text-fill: #DDE6ED;
    -fx-opacity: 0.9;
}
.giorno_prenotato:hover{
    -fx-opacity:1;
    -fx-text-fill: white;
}


