


.label-titolo {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.label-contenuto {
    -fx-font-size: 1.5em;
}

.icone-socials {
    -fx-font-size: 1.5em;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10 30;
    -fx-font-family: "Arial";
    -fx-pref-width: 250;
}

