.sfondo{
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgba(255,255,255,1) 0%, rgba(255,122,41,1) 99%);
}


.pane_offerte_dashboard{
    -fx-background-color: transparent;
    -fx-border-width: 3px;
    -fx-background-radius: 15% ;
    -fx-border-radius: 0px 0px 30px 30px;



}


.testo_offerte_dashboard{
    -fx-text-fill: #000000;
    -fx-font-size: 1.0em;
    -fx-font-family: "Arial";
}


.pannellino_offerte_dashboard{
    -fx-background-color: #ff7a29;
    -fx-border-radius: 30px 30px 30px 30px;
    -fx-background-radius: 30px 30px 30px 30px;
    -fx-opacity:0.8;
}
.pannellino_offerte_dashboard:hover {
    -fx-opacity: 1.0;
}

#bottone_chat_bot{
    -fx-background-color: #DDE6ED;
    -fx-text-fill: #27374D;
    -fx-font-weight: bold;
}
#text_field_bot{
    -fx-background-color: #DDE6ED;
}

.grafico{
    -fx-background-color: #DDE6ED;
}

.grafico .chart-bar{
    -fx-bar-fill: #27374D;
}

.grafico .chart-series-line	{
    -fx-stroke: #27374D;

}
.grafico .chart-line-symbol{
    -fx-background-color: #9DB2BF;

}
.grafico .chart-plot-background{
    -fx-background-color: #DDE6ED;

}

.grafico .chart-horizontal-grid-lines, .chart-vertical-grid-lines{
    -fx-stroke: transparent;
}
.grafico .axis{

}
.grafico .axis-tick-mark{
    -fx-stroke: #27374D;
}
.grafico .axis-minor-tick-mark{
    -fx-stroke: transparent;
}
.grafico .axis-label{
    -fx-text-fill: #27374D;
    -fx-font-weight: bold;
}


#contenitore_bannerini{
    -fx-background-color: #DDE6ED;

}
#frase_motivazionale{

}
#frase_illustrazione_offerte{

}

#saluto_nome{

}
#contenitore_centrale{
    -fx-background-color: #DDE6ED;
}

#tendina_grafico{

}

