


.pane_offerte_dashboard{
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-background-radius: 15 ;
    -fx-border-radius: 0 0 30 30;



}


.testo_offerte_dashboard{
    -fx-text-fill: #000000;
    -fx-font-size: 1.0em;
    -fx-font-family: "Arial";
}



#bottone_chat_bot{
    -fx-background-color: #DDE6ED;
    -fx-text-fill: #27374D;
    -fx-font-weight: bold;
}
#text_field_bot{
    -fx-background-color: #DDE6ED;
}

#vbox_chatbot {
    -fx-background-color: white;
}

.grafico{
    -fx-background-color: #DDE6ED;
}

.grafico .chart-bar{
    -fx-bar-fill: #27374D;
}

.grafico .chart-series-line	{
    -fx-stroke: #27374D;

}
.grafico .chart-line-symbol{
    -fx-background-color: #9DB2BF;

}
.grafico .chart-plot-background{
    -fx-background-color: #DDE6ED;

}

.grafico .chart-horizontal-grid-lines, .chart-vertical-grid-lines{
    -fx-stroke: transparent;
}
.grafico .axis{

}
.grafico .axis-tick-mark{
    -fx-stroke: #27374D;
}
.grafico .axis-minor-tick-mark{
    -fx-stroke: transparent;
}
.grafico .axis-label{
    -fx-text-fill: #27374D;
    -fx-font-weight: bold;
}


#contenitore_bannerini .viewport{
    -fx-background-color: #DDE6ED;

}
#frase_motivazionale{

}
#frase_illustrazione_offerte{
    -fx-font-size: 1em;
    -fx-text-fill: #27374D;
    -fx-font-weight: bold;

}

#saluto_nome{
    -fx-font-size: 3em;
    -fx-text-fill:#27374D;
    -fx-font-weight: bold;

}
#contenitore_centrale{
    -fx-background-color: #DDE6ED;
}

#tendina_grafico{
    -fx-border-color:#27374D;
    -fx-background-color:#9DB2BF ;
    -fx-text-fill: #27374D;
    -fx-font-size: 1.0em;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

}

#tendina_grafico .menu-item{
    -fx-text-fill: #27374D;
    -fx-font-size: 1.0em;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color:#9DB2BF ;
    -fx-background-insets: 0;
    -fx-border-width: 1;
    -fx-border-color: #DDE6ED;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

