.certificatoNo:hover{
    -fx-border-color: red;
    -fx-text-fill: red;
    -fx-border-width: 5;
}
.certificatoNo{
    -fx-border-color: red;
    -fx-text-fill: red;
}

.certificatoSi{
    -fx-text-fill: green;
}

.abbonamentoSi{
    -fx-text-fill: green;
}
.abbonamentoNo{
    -fx-border-color: red;
    -fx-text-fill: red;
}
.abbonamentoNo:hover{
    -fx-border-color: red;
    -fx-text-fill: red;
    -fx-border-width: 5;
}