
#tipoAbbonamento {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

#prezzoAbbonamento {
    -fx-font-size: 1.6em;
    -fx-font-weight: bold;
}

#labelInserimentoDati {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

#bottonePaga {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10 30;
    -fx-pref-width: 200;
}

