


.input_login{
    -fx-border-width: 0 0 1.5 0;
    -fx-font-size: 1.0em;
    -fx-pref-height: 38;
}

.my_button_login {
    -fx-opacity:0.9;
    -fx-font-size: 1.0em;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10 30;
    -fx-min-width: 200;
}




.text_login{
    -fx-fill-width: bold;
}
