

#titoloModificaDati {
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
}

#labelModificaDati {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

#radioButtonModificaDati {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}



#bottoniConfermaModifica {
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10 30;
    -fx-pref-width: 200;
}
