    .rigaCompleta{
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-background-color: #ffffff;
        -fx-border-color: #d0d0d0;
        -fx-border-width: 1;
        -fx-padding: 6;
    }

    .contenitoreSezioneOrario{
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-background-color: blue;
        -fx-border-color: blue;
        -fx-border-width: 1;
        -fx-padding: 6;;
    }

    .contenitoreSezioneOrarioPrenotato{
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-background-color: green;
        -fx-border-color: green;
        -fx-border-width: 1;
        -fx-padding: 6;;
    }

    #scrollProssimiAllenamenti{

    }

    #scrollPrenotazione{
    }

    .contenitoreRigaStorico{
        -fx-background-color: red;
        -fx-text-fill: white;
        -fx-alignment: center;
    }

    .containerProssimiAllenamenti{}

    .contenitoreRigaProssimiAllenamenti{
        -fx-background-color: green;
        -fx-text-fill: white;
        -fx-alignment: center;
    }

    .contenitoreDettagliRiga{
        -fx-background-color: white;
        -fx-padding: 10;
        -fx-width: 300;
    }
    .labelFineInizio{
        -fx-font-weight: bold;
        -fx-text-fill: white;
    }

    #labelStorico{
        -fx-background-color: #d0d0d0;
        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-border-color: #d0d0d0;
        -fx-border-width: 1;
        -fx-padding: 6;
    }


    .btnGiornoChiusura{
        -fx-background-color: red;
        -fx-font-weight: bold;
    }

    .btnPrenotato{
        -fx-background-color: green;
        -fx-text-fill: white;
    }

    .btnEliminaPrenotazione{
        -fx-background-color: red;
        -fx-text-fill: white;
        -fx-font-weight: bold;
    }

    .btnPrecedenteNO{
        -fx-background-color: red;
        -fx-text-fill: white;
    }

    .btnPrecSucc{
        -fx-background-color: #d0d0d0;
        -fx-text-fill: white;
        -fx-border-color: black;
    }

