.stile_predefinito{
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.dettagliMassimale{
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}
.btnScheda{
    -fx-font-size: 0.9em;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10 30;
    -fx-pref-width: 200;
    -fx-wrap-text: true;
}


.bottoneElimaScheda {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10 30;
    -fx-pref-width: 200;
}

.titoloContenitore{
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.titoloEsercizio{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.rigaEsercizio{
    -fx-border-widht: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#SplitPane > .split-pane-divider {
    -fx-padding: 0;
}

#bottoniCreaChiedi {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-pref-width: 350;
}
